<head>
	<title>Mindabaal Leage News Admin</title>
</head>

<div id="admin-container" ng-controller="adminController as adminCtrl">
	<header id="admin-header">
		<nav id="admin-top-nav">
			<ul>
				<li ng-click="adminCtrl.navSetSelected('authors')">Authors</li>
				<li ng-click="adminCtrl.navSetSelected('articles')">Articles</li>
				<li ng-click="adminCtrl.navSetSelected('templates')">Article Templates</li>
			</ul>
		</nav>
	</header>
	<div id="admin-nav">
		<div ng-show="adminCtrl.navIsSelected('authors')">
			<ul>
				<li><a ng-click="adminCtrl.contentSetSelected('new-author')">Add New Author</a></li>
				<li ng-repeat="author in authors">
					<a ng-click="adminCtrl.contentSetAuthor('show-author', author)">{{author.name}}</a>
				</li>
			</ul>
		</div>


		<div ng-show="adminCtrl.navIsSelected('articles')">
		
		</div>


		<div ng-show="adminCtrl.navIsSelected('templates')">
			<ul>
				<li><a ng-click="adminCtrl.contentSetSelected('new-template')">Add New Template</a></li>
				<li ng-repeat="template in templates">
					<a ng-click="adminCtrl.contentSetTemplate('show-template', template)">{{template.name}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="admin-content">
		<div ng-show="adminCtrl.contentIsSelected('new-author')">
			<h1>Add New Author</h1>
			<form>
				<div class="form-group">
					<input class="form-control" type="text" name="name" ng-model="new_author.name" placeholder="Name"/>
					<button type="submit" class="btn btn-default" ng-click="adminCtrl.addAuthor()">Add {{new_author.name}}</button>
				</div>
			</form>
		</div>

		<div ng-show="adminCtrl.contentIsSelected('show-author')">
			<h1>{{selected_author.name}}</h1>
			<button type="submit" class="btn btn-danger" ng-click="adminCtrl.deleteAuthor(selected_author.id)">Delete {{selected_author.name}}</button>
		</div>
		
		
		<div ng-show="adminCtrl.contentIsSelected('articles')">
		Articles
		</div>
		
		<div ng-show="adminCtrl.contentIsSelected('new-template')">
			<h1>Add New Template</h1>
			<form>
				<div class="form-group">
					<input class="form-control" type="text" name="name" ng-model="new_template.name" placeholder="Template Name"/>
					<textarea rows="10" class="form-control" name="html" ng-model="new_template.html" placeholder="HTML"></textarea>
					<button type="submit" class="btn btn-default" ng-click="adminCtrl.addTemplate()">Add {{new_template.name}}</button>
				</div>
			</form>
		</div>
		
		<div ng-show="adminCtrl.contentIsSelected('show-template')">
			<h1>{{selected_template.name}}</h1>
			<pre>	{{selected_template.html}}</pre>
			<button type="submit" class="btn btn-danger" ng-click="adminCtrl.deleteTemplate(selected_template.id)">Delete {{selected_template.name}}</button>
		</div>
	</div>
</div>