<head>
    <title>Author: {{author.name}} Dashboard</title>
</head>

<div class="container-fluid">
    <div id="author-container" ng-controller="authorController as authorCtrl">
        <div id="author_signin" ng-hide="signed_in">
            <h2>Please Sign In</h2>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" ng-model="sign_in.email" placeholder="Email"/>
                </div>
                <div class="from-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" ng-model="sign_in.password" placeholder="Password"/>
                </div>
                <button type="submit" class="btn btn-default" ng-click="author_sign_in()">Sign In</button>
            </form>
        </div>
    
        <div id="author_signed_in" ng-show="signed_in">
            
            <div class="row">
                <nav class="navbar navbar-default">
                <p class="navbar-text">{{author.name}}</p>
                <ul class="nav navbar-nav">
                    <li><a href ng-click="edit_author()">Edit Profile</a></li>
                    <li><a href ng-click="add_news()">Add News</a></li>
                    <li><a href ng-click="edit_news()">Edit News</a></li>
                    <li class="pull-right"><a href ng-click="author_sign_out()">Sign Out</a></li>
                </ul>
                </nav>
            </div>
            
            <div id="edit_auth" class="row" ng-show="edit_author_section">
                <div class="col-sm-6 col-sm-offset-3">
			        <form>
				        <div class="form-group">
				            <label>Author Name</label>
					        <input class="form-control" type="text" name="name" ng-model="edit_author_info.name" placeholder="Name"/>
				        </div>
				
        				<div class="form-group">
        				    <label>Email</label>
        					<input class="form-control" type="text" name="email" ng-model="edit_author_info.email" placeholder="ML Email"/>
        				</div>
				
				        <div class="form-group">
				            <label>New Password</label>
				            <input class="form-control" ng-minlength=8 type="password" name="password" ng-model="edit_author_info.password" placeholder="Password"/>
				        </div>
				        <div>
				            <label>Verify Password</label>
				            <input class="form-control" ng-minlength=8 type="password" name="password_confirmation" ng-model="edit_author_info.password_confirmation" placeholder="Password"/>
				        </div>
				        <button type="submit" class="btn btn-default" ng-click="editAuthorSave()">Edit {{author.name}}</button>
			        </form>
                </div>
            </div>
            
            <div id="author-news" class="row" ng-show="add_news_section">
                <div id="new-news" class="col-sm-8">
                    <form>
                        <div class="form-group">
                            <label>Select Category</label>
                            <select ng-model="new_article.category_id" name="category" class="form-control">
                                <option selected="selected" value="1">Mindabaal</option>
                                <option value="2">Drax</option>
                                <option value="3">Nakesh</option>
                                <option value="4">The Agency</option>
                                <option value="5">Elite Medical</option>
                                <option value="6">SWCombine</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Article Title</label>
                            <input class="form-control" type="text" name="title" ng-model="new_article.title" placeholder="Title"/>
                        </div>
                        
                        <div class="form-group">
                            <label>Article</label>
                            <div text-angular="" ng-model="new_article.body"></div>
                        </div>
                        
                        <div class="form-group">
                            <label>Display Image</label>
                            <input type="file" ng-file-select ng-model="new_article.display_img" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                            <label>Image Caption</label>
                            <input class="form-control" type="text" name="caption" ng-model="new_article.caption" placeholder="Caption" />
                        </div>
                        
                        <button class="btn btn-default" ng-click="authorCtrl.save_article()">Save Article</button>
                    </form>
                    <a href ng-click="hide_news()">Cancel News</a>
                </div>
                <div class="col-sm-4">
                    <p>Choose News To Edit</p>
                    <button class="btn btn-dfault" ng-click="authorCtrl.cancel_edit()" ng-show="authorCtrl.edit">Cancel Edit Mode</button>
                    <ul>
                        <li ng-repeat="article in articles"><a href ng-click='authorCtrl.edit_article(article.id)'>{{article.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>