<head>
<title>Mindabaal League News</title>
</head>

<header>
	<nav id="main">
		<ul>
			<li class="nav-ml">Mindabaal</li>
			<li class="nav-di">Drax</li>
			<li class="nav-nae">Nakesh</li>
			<li class="nav-ta">The Agency</li>
			<li class="nav-emt">Elite Medical</li>
			<li class="nav-combine">SWCombine</li>
		</ul>
	</nav>
</header>
<div class="container-fluid" ng-controller="homeController as homeCtrl">
	<div class="row" id="show-news" ng-show="homeCtrl.show_article">
		<div class="col-sm-12">
		<img class="{{img_type}}" ng-src="{{current_article.display_img}}">
		
		<h2>{{current_article.title}}</h2>
		<pre><p>{{current_article.body}}</p>
		<p>Article by: {{current_article.author.name}}</p>
		<a ng-click="homeCtrl.closeArticle()">Close Article</a>
		</pre>
		</div>
	</div>
	
	<div class="row" id="news" ng-show="homeCtrl.show_news">
			<div class="col-sm-4" ng-repeat="major in major_news">
				<a href ng-click="homeCtrl.showArticle(major, 'img_major')">
				<div class="major-news {{major.category_short}}">
					<div class="major-news-header {{major.category_short}}">{{major.category_name}}</div>
					<img class="major-news-img" ng-src="{{major.display_img}}" />
					<p>{{major.title}}</p>
				</div>
				</a>	
			</div>
	</div>
</div>