body *
{
  margin: 0px;
  padding: 0px;
}

body#home
{
  margin: 0px;
  /*background-color: rgb(237,237,237);
  //background-color: rgb(30,30,30);*/
  background-image: image_url("background.old.jpg");
  background-size: cover;
}

body#admin
{
  margin: 0px;
  background-image: none;
}

/* Generic Classes */
.di
{
	background-color: blue;
}

.nae
{
	background-color: green;
}

.ta
{
	background-color: red;
}

.emt
{
	background-color: grey;
}

.combine
{
	background-color: orange;
}

.ml
{
	background-color: gold;
}

/* Navbar */
nav#main
{
 margin-left: auto;
 margin-right: auto;
 width: 80%;
 height: 50px;
 background-color: black;
 color: white;
}

nav#main ul
{	
	width: 100%;
 height: 100%;
	list-style: none;
 background-color: black;
}

nav#main ul li
{
	display: block;
	float: left;
	width: 16.66%;
 height: 100%;
 background-color: black;
 text-align: center;
}

nav#main li.nav-ml
{
	border-top: solid 5px gold;
}

nav#main li.nav-ml:hover
{
	background-color: gold;
}

nav#main li.nav-di
{
	border-top: solid 5px blue;
}

nav#main li.nav-di:hover
{
	background-color: blue;
}

nav#main li.nav-nae
{
	border-top: solid 5px green;
}

nav#main li.nav-nae:hover
{
	background-color: green;
}

nav#main li.nav-ta
{
	border-top: solid 5px red;
}

nav#main li.nav-ta:hover
{
	background-color: red;
}

nav#main li.nav-emt
{
	border-top: solid 5px grey;
}

nav#main li.nav-emt:hover
{
	background-color: grey;
}

nav#main li.nav-combine
{
	border-top: solid 5px orange;
}

nav#main li.nav-combine:hover
{
	background-color: orange;
}

div#container
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  border-left: solid 1px silver;
  border-right: solid 1px silver;

}

header
{
  width: 100%;
  height: 55px;
  background-color: black;
}

div#news
{
  width: 100%;
  max-height: 1000px;
  overflow-y: auto;
}

section#left
{
  width: 65%;
  float: left;
  border-right: solid 1px silver;
  padding-bottom: 5px;  
}

div.major-news
{
  width: 44%;
  margin :2.5%;
  padding: 0.5%;
  float: left;
  //background-color: white;

}

div.major-news-header
{
  width: 100%;
  height: 20px;
  margin: 0px;
  color: white;
}

img.major-news-img
{
  width: 100%;
}

div.major-news p, div.minor-news p
{
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  overflow-y: auto;
  font-size: 15px;
  height: 36px;
}

div.minor-news
{
  width: 19%;
  margin: 2.5%;
  padding: 0.5%;
  float: left;
}

img.minor-news-img
{
  width: 100%;
}

section#right
{
  width: 35%;
  float: right;
}

article.left
{
  width: 100%;
}

article.left h1
{
  padding-left: 10px;
  text-align: left;
  color: silver;
}

/* ADMIN SECTION */
div#admin-container
{

}

div#admin-container header
{
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  background-color: white;
  border-bottom: solid 3px black;
}

nav#admin-top-nav
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div#admin-container ul
{
  list-style: none;
}

div#admin-container nav li
{
  width: 33.3%;
  float: left;
  text-align: center;
}

div#admin-nav
{
  width: 20%;
  float: left;
}

#admin-nav nav
{
  width: 100%;

}

#admin-nav li
{
  width: 100%;
  float: left;
}

div#admin-content
{
  width: 80%;
  float: right;
  border-left: solid 1px silver;
}